body, html {
    max-width: 1320px;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    color: black;
    font-family: Helvetica;
    background-color: grey;
}



header {
    top: 0;
    left: 0;
    padding: 10px 80px 10px 10px;
    display: flex;
    justify-content: space-between;
   
}
nav {
    padding-right: 30px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
    list-style-type: none;
}

nav a {
	margin-left: 20px;
	font-weight: bold;
	text-decoration: none;
	font-size: 26px;
		color: white;
}

nav li a:hover {
	color: black;
}
main {
    padding-top: 85px;
    margin-left: 25px;
    background-color: LightSteelBlue;
    color: black;
    text-align: left;
    font-size: 16px;
}

.paragr {
    margin: 20px;
    display: flex;
}

.img_div {
    flex-basis: 20em;
    width: 1fr;
    order: 1;
}
p {
    margin-right: 20px;
}
h2 {
    margin-left: 20px;
}